# .gitignore

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log
*.sqlite3
*.db
.env

# Virtual environments
venv/
env/
.venv/

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
#logs/

# Data folders
#data/raw/
#data/processed/

# CSVs y outputs temporales
*.csv
*.parquet
*.json
